.TableHeader {
  border: 1px solid dodgerblue;
  width: 100px;
}

.TableData {
  border: 1px solid dodgerblue;
  width: 100px;
  padding-left: 5px
}

.CenterCell {
  text-align: center;
  padding: 0 !important;
}

.BtnRemove {
  background: red;
  border: none;
  color: white;
  transition: none;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
